body {
  background-color: #0d0d0d;
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
#home {
background-color: #0d0d0d;
}
#home .two-column {
background-color: #0d0d0d;
}

#projects {
background-color: #0d0d0d;
}

#projects .two-column {
background-color: #0d0d0d;
}


.one-column {
  height: 1400px;
  width: 1100px;
  background-image: url('part44.jpeg') !important;
  background-position: center;
  background-repeat: no-repeat;
}

.one-column p {
  color: white;
}
.city-picture {
  width: 500px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
  color: white;
}

header {
  background-color: #0d0d0d;
}
ul {
  list-style-type: none;
  margin: 0 0 0 40px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 0 10px 0 10px;
}

li a {
  display: block;
  padding: 8px;
  background-color: #1C110A;
  color: white;
  text-decoration: none;
}

header h2 {
  color: #fff;
  margin: 0;
  padding: 40px;
}
footer {
  background-color: #031636;
  padding: 40px;
}
footer p {
  color: #fff;
  margin: 0;
}

#container {
  width: 1100px;
  margin: 0 auto;
}

.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: #0d0d0d;
}
.two-column div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
}
#home .two-column div {
  background-color: #0d0d0d;
  color: white;
}

#projects .two-column div {
  margin: 0 1px;
}

#projects .two-column {
  padding: 10px;
}


#contacts .three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #0d0d0d;
}

.three-column div {
  background-color: #fff;
  margin-righ: 10px;
  margin-left: 10px;
}

.four-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.four-column div {
  background-color: black;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.instagram-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #402f59;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.instagram-button:hover {
  background-color: #C13584;
}

.LinkedIn-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #402f59;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.LinkedIn-button:hover {
  background-color: #C13584;
}

.Email-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #402f59;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Email-button:hover {
  background-color: #C13584;
}

.Call-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #402f59;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Call-button:hover {
  background-color: #C13584;
}

p {
  font-family: 'Courier New', monospace;
  font-weight: normal;
  color: white;
      }

h1 {
  font-size: 50px;
}
h2 {
  font-family: 'Courier New', monospace;
  font-weight: normal;
  color: white;
  font-size: 36px;
}

.one-column {
            text-align: center;
        }

.Invest-button {
          display: inline-block;
          padding: 20px 40px;
          background-color: #7fa4c9;
          color: white;
          text-decoration: none;
          font-size: 30px;
          border-radius: 5px;
          transition: background-color 0.3s ease;

        }

.Invest-button:hover {
          background-color: #C13584;
        }
